a{
    text-decoration: none;
}

p{
    color: $font_primary;
    size: $paragraph;
}

h3{
    color: $font_primary;
    size: $h3;
}

main{
    max-width: 1200px;
    margin: auto;

    > *{
        width: 100%;
    }
}

ul{
    padding: 0;
}

li{
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: $bg_primary;
    margin: 10px auto;
    box-sizing: border-box;
    padding: 5px;

    p{
        margin: auto 0;
    }
}

.bloc{
    box-sizing: border-box;
    padding: 15px;
    background-color: $bg_primary;
    margin: 15px auto;
    min-width: 25%;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form{
    label, span{
        display: block;
    }

    span, li{
        color: $font_span;
        font-style: italic;
        font-size: $span;
    }

    input{
        background: none;
        border: 2px solid $bg_third;
        border-right: 0;
        border-top: 0;
    }
}

.btn, .btn-return{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 130px;
    height: 32px;
    cursor: pointer;
    border: none;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, .25);
    margin: 0;
    > *{
        color: $font_btn;
    }
}

.btn{
    background-color: $bg_secondary;
}

.btn-return{
    background-color: $bg_third;
}

.return{
    margin-left: 0;
}

.error{
    color: $font_error;
    font-size: $error;
    font-style: italic;
}

.ticket, .review{
    width: 100%;
    background-color: $bg_primary;
    box-sizing: border-box;
    padding: 15px;
    margin: 15px auto;

    > .ticket{
        border: solid 2px $bg_third;
    }

    .btn{
        margin: 0 auto;
    }
}

.user-date{
    display: flex;
    justify-content: space-between;

}

.date{
    margin: 0;
    font-size: $span;
    color: $font_span;
}

.user-publish{
    color: $font_publisher;
    font-style: italic;
    margin: 0 0 35px;
}

h3{
    margin: 10px 0 15px;
}

.element-ticket{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;

    img{
        max-width: 300px;
    }

    .description{
        box-sizing: border-box;
        padding: 15px;

        > :first-child{
            font-weight: bold;
        }
    }

    .detail-input{
        margin: auto;
    }
}

.search-form{
    background-color: $bg_primary;
    box-sizing: border-box;
    padding: 15px;
    margin: 15px auto;
}