// Colors
$font_primary: #000000;
$font_btn: white;
$font_error: #ff4c4ced;
$font_span: grey;
$font_publisher: #6B705C;
$bg_primary: #FFE8D6;
$bg_secondary: #A5A58D;
$bg_third: #CB997E;

// Fonts size
$paragraph: 1rem;
$h3: 1.25rem;
$error: .95rem;
$span: .95rem;
