<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load sass_tags %}
    {% load static %}
    <link rel="stylesheet" href="{% sass_src 'review/style.scss' %}">
</head>
<body>
    {% if user.is_authenticated %}
        <header>
            <img src="{% static 'review/images/logo_2.png' %}" alt="Logo LitReview">
            <div class="menu">
                <nav>
                    <a href="{% url 'home' %}" class="{% if request.get_full_path == "/home/"  %}active{% endif %}">Flux</a>
                    <a href="{% url 'posts' %}" class="{% if request.get_full_path == "/posts/"  %}active{% endif %}">Posts</a>
                    <a href="{% url 'follows' %}" class="{% if request.get_full_path == "/follows/"  %}active{% endif %}">Abonnements</a>
                </nav>
                <a href="{% url 'logout' %}" class="btn-return"><p>Se déconnecter</p></a>            
            </div>
        </header>
        {% block content %}{% endblock %}
    {% else %}
        {% block authentication %}{% endblock %}
    {% endif %}
    <script src="{% static 'review/script.js' %}"></script>
</body>
</html>