{% extends 'review/base.html' %}
{% block content %}
<div class="bloc">
    <div class="detail-ticket">
        <h3>{{ ticket.title }}</h3>
        <img src="{{ ticket.image.url }}" alt="">
        <p>{{ ticket.description }}</p>
        <a href="{% url 'detail-ticket' ticket.id %}">Voir les critiques</a>
    </div>
    <form action="" method="post" class="delete">
        {% csrf_token %}
        <p>Êtes-vous sûr de vouloir supprimer ce ticket ?</p>
        <div class="choice-btn">
            <a href="{% url 'detail-ticket' ticket.id %}">Ne pas supprimer</a>
            <input type="submit" value="Confirmer">
        </div>
    </form>
</div>
{% endblock %}