{% extends 'review/base.html' %}
{% block content %}
<a href="{% url 'detail-ticket' review.ticket.id %}" class="btn-return"><p>Retour</p></a>
<div class="review">
    <div class="user-date">
        <p class="user-publish">Vous avez publié une critique</p>
        <p class="date">{{ review.time_created }}</p>        
    </div>
    <p>Notes : {{ review.rating }}/5</p>
    <h3>{{ review.headline }}</h3>
    <p>{{ review.body }}</p>
    <form action="" method="post" class="delete">
        {% csrf_token %}
        <p class="confirm-sentence">Êtes-vous sûr de vouloir supprimer ce ticket ?</p>
        <div class="interactions">
            <a href="{% url 'detail-ticket' review.ticket.id %}" class="btn-return"><p>Ne pas supprimer</p></a>
            <input type="submit" value="Confirmer" class="btn">
        </div>
    </form>
</div>
{% endblock %}