{% extends 'review/base.html' %}
{% block content %}
<div class="bloc">
    <h3>{{ ticket.title }}</h3>
    <img src="{{ ticket.image.url }}" alt="">
    <p>{{ ticket.description }}</p>
    <a href="{% url 'response' ticket.id %}">Ajouter une critique</a>
</div>
{% for review in reviews %}
<div class="bloc">
    {% if user.is_authenticated == review.user.id %}
    <div class="interactions">
        <a href="{% url 'edit-review' review.id %}">Éditer</a>
        <a href="{% url 'delete-review' review.id %}">Supprimer</a>
    </div>
    {% endif %}
    <p>Notes : {{ review.rating }}/5</p>
    <p>{{ review.user }} le {{ review.time_created }}</p>
    <p>{{ review.headline }}</p>
    <p>{{ review.body }}</p>
</div>
{% endfor %}
{% endblock %}