{% extends 'review/base.html' %}
{% block content %}
<form action="" method="post" name="search">
    {% csrf_token %}
    <input type="search" name="search-value">
</form>
<div class="users-list">
</div>
<p>Vous suivez :</p>
<ul id="followed">
    {% for user in followed %}
    <li>
    <p>{{ user.followed_user.username }}</p>
    <button value="{{ user.followed_user.id }}">Se désabonner</button>
    </li>
    {% endfor %}
</ul>
<p>Vous suivent :</p>
<ul id="follow">
    {% for user in follow %}
    <li>
    <p>{{ user.user.username }}</p>
    </li>
    {% endfor %}

</ul>
{% endblock %}